body {
    padding: 0px;
    margin: 0px;
}

/* Hero */
.hero h1 {
    color: #5ada86;
}

.hero button {
    background: #5ada86;
    color: #fff;
}

/* End Hero */

/* Gallery */
.gallery h2 {
    color: #5ada86;
}

.gallery ul li a {
    color: #5ada86;
}

.gallery ul li a i {
    color: #010101;
}

/* End Gallery */